[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.110.0"
uvicorn = {extras = ["standard"], version = "0.28.0"}
sqlalchemy = "2.0.29"
email-validator = "*"
bcrypt = "*"
python-multipart = "*"
python-jose = { extras = ["cryptography"], version = "*" }
psycopg2-binary = "*"
alembic = "*"
pytest = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
