[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.110.0"
uvicorn = {extras = ["standard"], version = "0.28.0"}
sqlalchemy = "2.0.29"

[dev-packages]


[requires]
python_version = "3.11"
